footer {
    background-color: $color-fondo;
    color: $color-principal;
    padding: 40px 20px;
    margin-top: 60px;
    text-align: center;
    
    h3 {
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    
    ul {
        list-style: none;
        padding: 0;
        @extend %link-base;
        
        li {
            margin-bottom: 8px;

            a {
                @extend %link-base;
            }
        }
    }

    .iconos {
        justify-content: center;
    }
    
    img {
        width: 30px;
        height: 30px;
    }

    .copyright {
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 0;
    }
}