@media (max-width: 1024px) {
    .prods {
        flex-direction: column;
        aside {
            width: 95%;
            flex: none; 
            position: relative;
            padding: 10%;
            max-height: none;
            margin-bottom: 5%;
            margin-left: auto;
            margin-right: auto;
            
            div {
                flex: 1 1 45%;
                margin-bottom: 5px;
            }
            
            h2 {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .productos {
            padding: 0;
            gap: 0;
            width: 100%;
            box-sizing: border-box;
            
            article {
                width: 48%;
            }
        }
    }
}

@media (max-width: 768px) {
    
    main {
        .seccion {
            margin-bottom: 40px;
            padding:10%;
            
            .card{
                margin-bottom: 10%;
            }
        }
        
        .marca {
            padding: 30px 0;
        }
    }

    .prods{
        width: 100%;
        overflow:hidden;
        box-sizing: border-box;
        
        aside {
            padding: 5%;
            box-sizing: border-box;
            div {
                flex: 1 1 100%;
            }
        }

        .productos{
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            gap: 0;

            article {
            width: 85%;
            flex-direction: column;
            align-items: center; 
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            margin-left: 7%;
            
                img {
                    width: 100%;
                    max-height: auto;
                }
            }
        }
    }
    
    .guia_de_talles {
        #medidas {
            width: 100%; 
            min-width: 400px;
        }
    }
}