//COLORES
//Texto
$color-principal: #333;

//Fondo
$color-fondo-base: rgb(131, 156, 163);
$color-fondo: rgba(131, 156, 163, 0.404);
$color-fondo-claro: rgba(131, 156, 163, 0.2);

//Hover
$color-hover: #000000;
$color-hover-suave: #555454;

//FUENTES
$fuente-principal: Arial, Helvetica, sans-serif;

//FORMATO DE IMÁGENES
//Redondeo
$border-radius-pequeño: 5px;
$border-radius-medio: 8px;
$border-radius-grande: 10px;